div.wrap
  div.game
div.modal-overlay
  div.modal
    h2.winner You Rock!
    button.restart Play Again?
    p.message
      | Developed on 
      a(href="https://codepen.io") Codepen
      |  by 
      a(href="https://codepen.io/buildhouse") Justin Scott
    p.share-text Share it?
    ul.social
      li 
        a(href="https://twitter.com/share?url=https://codepen.io/buildhouse/pen/reyrNm" class="twitter" target="_blank")
          span.brandico-twitter-bird
      li 
        a(href="https://www.facebook.com/sharer.php?u=https://codepen.io/buildhouse/pen/reyrNm" class="facebook" target="_blank")
          span.brandico-facebook
      li 
        a(href="https://plus.google.com/share?url=https://codepen.io/buildhouse/pen/reyrNm" class="google" target="_blank")
          span.brandico-googleplus-rect

  footer
    p.disclaimer All logos and images are property of their respective owners, No Copyright infringement intended. This is a high school project on how to use HTML (jade), CSS (SCSS) and JavaScript.
    p.disclaimer 
      | Project by 
      a(href="https://codepen.io/natewiley/") Nate Wiley's 
      | Memory Game Pen
      a(href="https://codepen.io/natewiley/pen/HBrbL/")
      | . 